@import "spaces";

.input {
  background-color: #1a1f21;
  border-color: #1a1f21;
  border-radius: 30px;
  &:hover {
    border-color: $main;
  }
  &::placeholder {
    text-align: center;
  }
}
.search-container {
  min-width: 320px;
}
.store-card-container {
  min-width: 210px;
}
.table-single{
  background-color: transparent;
}
.brand {
  &:hover {
    color: $main;
  }
}
.store-banner {
  max-height: 50px;
}
.store-table {
  max-width: 400px;
}
s {
  text-decoration: line-through;
}
//fix horizontal scrollbar on columns
/*
.columns:last-child {
  margin-bottom: 0;
}*/

.footer {
  background: #1a1f21;
}

.left-side {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.highlight-price {
  color: #fff !important;
  background: $main;
  padding: 3px;
  border: 1px solid $main;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #151515;
  display: inline-block;
  min-width: 55px;
  text-align: center;
}

td > a.has-text-white:hover {
  color: $main !important;
}

.browse-thumb {
  height: 46px;
  width: 116px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #13171e;
  border: 1px solid #123;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}