@import "spaces";

.input {
  background-color: #1a1f21;
  border-color: #1a1f21;
  border-radius: 30px;
  &:hover {
    border-color: $main;
  }
  &::placeholder {
    text-align: center;
  }
}
.search-container {
  min-width: 320px;
}
.store-card-container {
  min-width: 210px;
}
.store-card{
  cursor: pointer;
}
.table-single{
  background-color: transparent;
}
.brand {
  &:hover {
    color: $main;
  }
}
.store-banner {
  max-height: 50px;
}
s {
  text-decoration: line-through;
}
//fix horizontal scrollbar on columns
/*
.columns:last-child {
  margin-bottom: 0;
}*/
