.fixed-mt-100 {
  margin-top: 100px;
}
.fixed-mt-header {
  margin-top: 90px;
}
.fixed-np {
  padding-top: 0;
  padding-bottom: 0;
}
.fixed-npb {
  padding-bottom: 0;
}
.fixed-mt-50 {
  margin-top: 50px;
}