.fixed-mt-100 {
  margin-top: 100px;
}
.fixed-mt-header {
  margin-top: 90px;
}
.fixed-np {
  padding-top: 0;
  padding-bottom: 0;
}
.fixed-npb {
  padding-bottom: 0;
}
.fixed-mt-50 {
  margin-top: 50px;
}

//BREAKPOINTS

//mobile
@media (max-width: 768px) {

}
//tablet
@media (min-width: 769px) and (max-width: 1023px) {

}
//desktop
@media (min-width: 1024px) and (max-width: 1215px) {

}
//widescreen
@media (min-width: 1216px) {
  .dealsEpicGames {
    padding-left: 50px;
    padding-right: 50px;
  }
  .dealsUplay {
    @extend .dealsEpicGames;
  }
  .dealsBlizzardShop {
    @extend .dealsEpicGames;
  }
}