// brand colors
$main: #1F895B;
$secondary: #2C3639;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Bulma's global variables
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $secondary;
$grey-darker: $beige-lighter;
$grey-light: $beige-light;
$primary: $main;
$link: $main;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $beige-lighter;
$background: $secondary;